.report-container {
  padding: 24px;
  background: #f9fafb;
      height: calc(100% - 48px);
}

.header {
  margin-bottom: 16px;

  h2 {
    font-size: 24px;
    font-weight: 600;
    color: #111827;
  }
}

.search-card {
  margin-bottom: 20px;
  border-radius: 12px;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  align-items: start;
}

.search-btn {
  height: 56px;
}

.action-buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
  justify-content: flex-end;
}

.grid-card {
  border-radius: 12px;
  padding: 8px;

}

.grid-container {
  width: 100%;
}

.ag-theme-alpine {
  
  --ag-header-foreground-color: #ffffff;
  --ag-row-hover-color: #e5e7eb;
  --ag-odd-row-background-color: #f9fafb;
  --ag-font-size: 14px;
  --ag-border-color: #e5e7eb;
}

.action-btn {
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 4px 10px;
  font-size: 12px;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #1d4ed8;
}

@media (max-width: 768px) {
  .search-form {
    grid-template-columns: 1fr;
  }

  .action-buttons {
    flex-direction: column;
    align-items: stretch;
  }
}
.no-data-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
  color: #666;
  text-align: center;
  
  .message-content {
    display: flex;
    align-items: center;
    gap: 8px;
    
    mat-icon {
      color: #9ca3af;
    }
  }
}