.headerWrapbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;

    h3 {
            font-weight: 600;
    font-size: 20px;
    }
}

h2,mat-dialog-actions {    box-shadow: 0 0 6px #0000002e;}

.item-container {
    border: 1px solid rgb(221 221 221);
    box-shadow: 0 0 4px 0px #0000002e;
    padding: 12px;
    position: relative;
    margin-bottom: 12px;
    border-radius: 12px;
}

.removeBtn {
    border: 1px solid grey;
    color: red;
    height: 28px;
    padding: 4px 12px;
    border-radius: 4px;
    background: none;
    cursor: pointer;

    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;


    }
    &:hover {
        transform: translateY(-2px);
        box-shadow: inset 0 0 4px 0px #0000002e;
    }

}

.btn-container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paymentBlock {
    padding-top: 20px ;
}

.item-container {
display: flex;
align-items: center;
    .formInnerWrap {
        width: 100%;
    border-right: 1px solid grey;
    }

}