

.success-snackbar {
  background-color: #4caf50 !important; 
  color: white !important;
  
  .mat-button-wrapper {
    color: rgba(255, 255, 255, 0.9);
  }
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  background-color: #ffffff;
}

.container-fluid {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  // padding: 1rem;
  overflow: hidden;
}

.card {
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  // border: 1px solid #e9ecef;
  // margin-bottom: 1.5rem;
  // background: #ffffff;
  // border-radius: 8px;

  .input-group {
    width: 240px !important;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;

    .clear-search {
      width: 40px;
      height: 100%;
      position: absolute;
    right: -34px;
    top: 1px;
      border: none;
      background: none;
      border-left: 1px solid grey;
      cursor: pointer;

    }

    .input-group-text {
      color: #495057;
      width: 40px;
      height: 100%;
      position: absolute;
      left: 0;

      mat-icon {
            width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
      }
    }

    input {
      // width: 100%;
      height: 100%;
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 8px;
      border: 1px solid black;
      font-size: 16px;
    }
  }
  

  
  .form-control {
    transition: all 0.2s ease-in-out;
    
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.1);
      border-color: #80bdff;
    }
  }
  
  .btn-outline-secondary {
    border-color: #ced4da;
    margin-left: -1px;
    &:hover {
      background-color: #f8f9fa;
      color: #495057;
    }
  }
}

@media (max-width: 992px) {
  .container-fluid {
    padding: 0.75rem;
  }
}
.search-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.text-container {
  padding: 24px;
    /* width: 100%; */
    height: calc(100vh - 251px);
    border: 1px dashed grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}